/**
  http://paletton.com/#uid=13l0g0koSDm4qUQgLJoD9y+Kone
  .color-primary-0 { color: #2BA5B6 } //Main
  .color-primary-1 { color: #CCE8EC } // Secondary (Highlight)
  .color-primary-2 { color: #61BCC9 }
  .color-primary-3 { color: #0291A5 }
  .color-primary-4 { color: #016471 }
*/

html, body{
  font-family: 'Multi', sans-serif;
}

div#header{
  width:100%;
  background-color:#2BA5B6;
  padding-top:10px;
  padding-bottom:10px;
}

div#header a{
  text-decoration:none;
  color:inherit;
}

div.header-logo{
  color: #CCE8EC;
  width:100%;
  text-align:center;
}
