@media screen and (min-width: 992px) {
  div.dashboard-info-node{
    color: #016471;
    height: 200px;
    padding:10px;
    border:1px solid #CCE8EC;
    border-radius: 5px;
  }

  div.dashboard-info-node:hover{
    background-color: #CCE8EC;
  }

  p.dashboard-info-node-focus{
    border-radius: 15px;
  }

  p.dashboard-info-node-header, p.dashboard-info-node-footnote{
    font-size: 1.5em;
  }

  p.dashboard-info-node-footnote{
    text-align: center;
  }

  div.dashboard-info-node-container{
    margin-top:40px;
  }

  div.dashboard-action-button-container{
    margin-top:20px;
    margin-bottom:20px;
  }

  div.dashboard-action-button-container > a > div{
    background-color:#61BCC9;
    color:white;
    border-radius: 5px;
    text-align:center;
    padding-top:10px;
    padding-bottom:10px;
  }
  div.dashboard-info-expenditures-container{
    margin-top:80px;
  }

  div.dashboard-info-expenditures-headers > div{
    text-align:center;
    background-color:#2BA5B6;
    color:white;
    border:1px solid white;
  }

  div.dashboard-info-expenditures-container > div.dashboard-info-expenditures-list-container:nth-child(odd) > div:not(:last-child) {
    background-color:#CCE8EC;
  }

}

@media screen and (max-width: 767px) {
  div.dashboard-info-node{
    border-bottom:1px solid #016471;
    padding-top:10px;
    padding-bottom:10px;
  }

  div.dashboard-action-button-container{
  }

  div.dashboard-action-button-container > a > div{
    background-color:#61BCC9;
    color:white;
    border-radius: 5px;
    text-align:center;
    padding-top:10px;
    padding-bottom:10px;
    margin-top:10px;
  }

}

p.dashboard-info-expenditures-status{
  display:inline-block;
}

div.dashboard-info-expenditures-list-container > div{
  padding:10px;
  text-align:center;
}

p.dashboard-info-node-focus{
  font-size:2.5em;
  text-align:center;
}
