@media screen and (min-width: 992px) {
  div.dashboard-info-node{
    color: #016471;
    height: 200px;
    padding:10px;
    border:1px solid #CCE8EC;
    border-radius: 5px;
  }

  div.dashboard-info-node:hover{
    background-color: #CCE8EC;
    cursor: pointer;
  }

  p.dashboard-info-node-focus{
    border-radius: 15px;
  }

  p.dashboard-info-node-header, p.dashboard-info-node-footnote{
    font-size: 1.5em;
  }

  p.dashboard-info-node-footnote{
    text-align: center;
  }

  div.dashboard-info-node-container{
    margin-top:40px;
  }
}

@media screen and (max-width: 767px) {
  div.dashboard-info-node{
    border-bottom:1px solid #016471;
    padding-top:10px;
    padding-bottom:10px;
  }
}

p.dashboard-info-node-focus{
  font-size:2.5em;
  text-align:center;
}
