h1{
  width:100%;
  text-align:center;
}

div.login-container > h2{
  margin-top:0px;
}

div.login-container input.form-control{
  margin-top:10px;
}

div.login-container button{
  margin-top:10px;
}

button.login-forgot-btn{
  width:100%;
}

div.login-container{
  margin-top:40px;
}

@media screen and (min-width: 992px) {
  div.login-container{
    padding:40px;
    -webkit-box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.75);
  }
}
